h1 {
  background-color: rgb(111, 136, 179);
  margin: 0px;
  padding: 10px 0px 16px 12px;
  text-align: center;
}

h2 {
  margin: 23px;
}

p {
  margin: 16px;
  font-size: large;
}

div {
  background-color: rgba(111, 136, 179, 0.50);
  margin: 1%;
  padding: 1%;
}

body {
  background-color: rgb(122, 149, 199);
  margin: 0px;
  font-family: sans-serif;
}

ul {
  background-color: rgb(111, 136, 179);
  margin: 0px;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0px 14px;
  margin-bottom: 12px;
}


a {
  padding: 7px;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgb(89, 108, 141);
}

#linkInArticle {
  padding: 1px;
}

.Newsletter {
  margin: 11px;
}

div:hover {
  background-color: rgba(131, 155, 197, 0.5);
}
